{% load static %}
<link rel="stylesheet" href="{% static "plant_app/style.css" %}">
<link rel="stylesheet" href="{% static "plant_app/bootstrap.min.css" %}">
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Aplikasi deteksi penyakit pada daun jagung</title>
</head>
<body>
<div id='name' class='container-fluid'>
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class=" text-gray-800">Aplikasi Deteksi Penyakit Pada Daun Jagung</h1>
  </div>
  <!-- Area Chart -->
  <div class="col-xl-11 col-lg-11">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Silahkan upload foto disini</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <form method="post" id="fileform" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="file-upload">
            <div class="file-select">
              <div class="file-select-button" id="fileName">Upload Foto</div>
              <div class="file-select-name" id="noFile">Upload fotonya dulu</div>
              <input id="chooseFile" type="file" name="myfile">
            </div>
          </div>
          <button id="sub" class="btn btn-success btn-lg" type="submit">Prediksi</button>
        </form>


        {% if file_url %}
        <h1 id='filename'><strong>{{ result }}</h1>
        <img src="data:image/png;base64,{{file_url}}" style="width:224px;height:224px;">
        {% endif %}

      </div>
    </div>
  </div>


</div>
</body>
<script type="text/javascript" src="{% static 'plant_app/jQuery.js' %}"></script>
<script type="text/javascript" src="{% static 'plant_app/effect.js' %}"></script>
</html>
